fastapi
uvicorn
python-multipart
passlib==1.7.4
sqlalchemy>=1.4.0
sqlalchemy-utils>=0.40.0
pyjwt
python-dotenv
bcrypt>=4.0.1
psutil
pydantic[email]
email-validator
PyPDF2
python-docx
chardet
libsql_client
psycopg2-binary>=2.9.9
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
